* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;

    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    background-color: #fff;
}

.logo {
    width: 3rem;

    margin-right: 1rem;
}

.search-bar {
    width: 75%;
    height: 2.8rem;
    padding-inline: 2vw;

    background-color: #eee;
    border-radius: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        width: 98%;
        height: 2rem;
        padding: auto;

        background-color: #eee;
        border: 0;
        outline: none !important;
    }
    button {
        all: unset;

        img {
            margin-right: -1vw;
            padding-top: 5px;
            width: 1.5rem;
        }
    }
    button:hover{
        cursor: pointer;
    }
}


.buttons {
    display: flex;
}
.button {
    width: 4rem;
    height: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.7rem;

    img {
        width: 2rem;
    }
}

.button :hover {
    cursor: pointer;
}


.navbar {
    position: fixed;
    top: 6rem;
    width: 100%;
    height: 3rem;

    display: flex;
    padding: 0 2rem;

    font-size: 1rem;
    border-block: 1px solid #eee;
    background-color: #fff;
}
.categories {
    padding: 1rem 2rem;
    min-width: 16rem;

    display: flex;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #38281b;
    color: #fff;

    img {
        width: 1rem;
        filter: invert();
        margin-right: 0.5rem;
    }

    .category-list {
        position: absolute;
        top: 2.9rem;
        left: 2rem;
        min-width: 16rem;
        padding-inline: 2rem;

        display: block;
        visibility: hidden;
        opacity: 0;

        border: 2px solid #38281b;
        border-top: none;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #fff;
        list-style: none;

        transition: visibility 0s, opacity 0.3s ease-in;

        li {
        }
        a {
            width: 100%;
            height: 2.4rem;
            padding: 0.8rem;

            display: block;
            color: #222;            
            text-decoration: none;
        }
        a:hover {
            color: #e5b54b;
        }
    }
}
.categories:hover {
    cursor: pointer;

    .category-list {
        visibility: visible;
        opacity: 1;
    }
}
.nav-links {
    display: flex;
    padding: 1rem 2rem;

    list-style: none;
    gap: 3rem;
}
.nav-links li a{
    font-size: 0.9rem;
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-links li a::after {
    content: '';
    width: 0px;
    height: 1.5px;
    display: block;
    background: black;
    transition: 0.3s ease-out;
}
.nav-links li a:hover::after {
    width: 100%;
}
#current::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}
.hamburger img {
    width: 32px;
}


.hero {
    margin-top: 10rem;
    margin-inline: 1rem;

    
    #hero {
        height: 36rem;
        width: 100%;
        
        content: url("img/Hero1.jpg");
        object-fit: cover;
        object-position: 0 0;

        animation-name: heroAnim;
        animation-duration: 20s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}

@keyframes heroAnim {
    0%, 18% {
        content: url("img/Hero1.jpg");
    }
    20%,  38%{
        content: url("img/Hero2.jpg");
    }
    40%, 58% {
        content: url("img/Hero3.jpg");
    }
    60%,  78%{
        content: url("img/Hero4.jpg");
    }
    80%, 98%{
        content: url("img/Hero5.jpg");
    }
    100% {
        content: url("img/Hero1.jpg");
    }
}

.info {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;

    div {
        margin: 1rem;
        padding: 1rem;
        padding-top: 0;

        border: 1px solid #eee;
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
    div:hover {
        cursor: pointer;
    }
}

.about-us {
    padding-bottom: 2rem;

    display: grid;
    grid-template-columns: auto 30vw;

    .left {
        margin: 2rem;
        margin-top: 4rem;
        text-align: center;

        color: #222;

        h1 {
            padding-bottom: 1rem;

            font-size: 3rem;
            font-weight: 300;
        }
        h3 {
            color: #e5b54b;
            font-size: 1rem;
            font-weight: lighter;
        }
        h2 {
            padding-block: 1rem;
            text-align: left;
            font-size: 1rem;
        }
        p {
            padding-bottom: 1rem;
            text-align: left;
            font-size: 0.8rem;
        }
        ul {
            padding-bottom: 1rem;
            text-align: left;
            list-style: inside;
        }
        li {
            font-size: 0.8rem;
            padding-bottom: 0.5rem;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            margin-top: 20%;
            width: 80%;
        }
        table {
            text-align: left;
            
            thead {
                font-size: 1.5rem;
            }
            th {
                padding: 0.5rem;
            }
        }
    }
}

.contact-us {
    margin: 6rem;
    padding-bottom: 2rem;

    display: grid;
    grid-template-columns: 30vw auto;

    .left {
    }
    .right {
        height: 40rem;

        padding-inline: 2rem;
        align-content: space-between;

        color: #222;

        .details {
            display: grid;
            grid-template-columns: 30vw auto;
        }
        h2 {
            margin-bottom: 1rem;
        }
        p {
            font-size: 0.9rem;
            margin-bottom: 2rem;
        }
        a {
            text-decoration: none;
            color: #222;
        }
    }

    form {
        display: grid;
        grid-template-columns: auto auto; 
        gap: 10px;

        color: #222;

        .name {
            grid-column: 1 / span 2;
            grid-row: 1; 
        }
        .phone {
            grid-column: 1;
            grid-row: 2;
        }
        .email {
            grid-column: 2;
            grid-row: 2;
        }
        .message {
            grid-column: 1 / span 2;
            grid-row: 3;
        }
        .submit {
            grid-column: 1;
            grid-row: 4;

            width: 7rem;
            height: 2.5rem;

            background-color: #38281b;
            color: #eee;
            font-size: 0.7rem;
            font-weight: bold;
            text-transform: uppercase;
        }
        .submit:hover{
            cursor: pointer;
            background-color: #e5b54b;
            transition: background-color 0.2s;
        }

        label {
            font-size: 0.9rem;
        }
        input {
            width: 100%;
            height: 2rem;
            padding: 0.5rem;

            border: 1px solid #999;
            border-radius: 4px;
        }
        input:focus {
            outline: none !important;
            background-color: #eee;
        }
        textarea {
            width: 100%;
            height: 7rem;
            padding: 0.5rem;
        }
        textarea:focus {
            outline: none !important;
            background-color: #eee;
        }
    }
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;

    display: block;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0.4rem #999;

    img {
        width: 2rem;
    }
}
.back-to-top:hover {
    box-shadow: 0 0 0.8rem #999;

    transition: all 0.5s;
}


footer {
    padding: 2rem;
    padding-bottom: 6rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    
    font-size: 0.9rem;

    div {
        display: flex;
        gap: 1rem;

        a {
            color: #222;
            text-decoration: none;
        }
    }
}


/* RESPONSIVENESS */
@media (max-width: 992px) {
    .navbar {
        display: none;
    }

    .hero {
        margin-top: 0;
    }

    .info {
        grid-template-columns: auto auto;
    }

    .about-us {
        grid-template-columns: auto;
    }
}

/* RESPONSIVENESS */
@media (max-width: 600px) {
    .info {
        grid-template-columns: auto;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}